.navdashContainer {
  color: rgb(245, 244, 244);
  background-color: rgb(21, 1, 20);
  &__headerTitle {
    padding-top: 25px;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .dropdown-menu {
    background-color: white;
  }
  .dropdown-menu-left {
    left: auto !important;
    right: 0;
  }
  
}