.navdashContainer {
  color: black;
  background-color: rgb(233, 179, 249);
  &__headerTitle {
    font-size: 3rem;
    font-weight: 300;
  }
  .dropdown-menu {
    background-color: white;
  }
  .dropdown-menu-left {
    left: auto !important;
    right: 0;
  }
  
}