.fc-col-header-cell-cushion {
  color: black !important;
  text-decoration: none !important;
}
.fc-daygrid-day-number {
  color: black !important;
  text-decoration: none !important;
}
.calendar__container {
  height: 80vh;
}

.fc {
  margin: 3em;
  height: 100%;
  text-transform: capitalize;
}

.fc-button-primary {
  text-transform: capitalize;
}

.dark-mode .fc-col-header-cell-cushion {
  color: white !important;
  }
  
  .dark-mode .fc-daygrid-day-number {
  color: white !important;
  }
  
  .dark-mode .calendar__container {
  background-color: #090101;
  }
  
  .dark-mode .fc {
  color: white;
  }
  
  .dark-mode .fc-button-primary {
  background-color: #090101;
  border-color: #040000;
  color: white;
  }