.fc-col-header-cell-cushion {
  color: black !important;
  text-decoration: none !important;
}
.fc-daygrid-day-number {
  color: black !important;
  text-decoration: none !important;
}
.calendar__container {
  height: 80vh;
}

.fc {
  margin: 3em;
  height: 100%;
  text-transform: capitalize;
}

.fc-button-primary {
  text-transform: capitalize;
}
