.regContainer {
  color: wheat;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(118, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  &__Heading {
    top: 20%;
    text-align: center;
    color: rgb(215, 140, 0);
  }
  &__form {
    font-size: large;
    flex-direction: column;
    margin-inline: 35%;
    padding-top: 3em;
    &__element {
      padding: 0.8em;
      display: flex;
      justify-content: space-between;
      &__label {
        margin-right: 0.5rem;
        font-size: larger;
        display: flex;
        align-items: center;
      }
      &__input {
        font-size: medium;
        border-radius: 10px;
        border-color: rgb(30, 1, 9);
        text-align: center;
        height: 35px;
      }
    }
    &__submitButton {
      background-color: #ccd6dd;
      border-radius: 10px;
      padding: 10px 40px 10px 40px;
      cursor: pointer;
      &__text {
        color: rgb(0, 0, 0);
        font-size: large;
      }
    }
    &__submitButton:focus {
      box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    }
    &__submitButton:hover {
      box-shadow: rgba(245, 245, 245, 0.4) 0 4px 8px,
        rgba(255, 255, 255, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    &__submitButton:active {
      box-shadow: #55acee 0 3px 7px inset;
      transform: translateY(1px);
    }
  }
}

.mandateText::after {
  content: "*";
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.regContainer__google_signin_button {
  margin-left: 20%;

  .regContainer__LogIn_button {
    margin-left: 10%;
  }
}
