.brand__heading {
  transform: translateX(-600px);
  position: absolute;
  &__text {
    font-size: 3em;
  }
}

.logIn {
  display: flex;
  justify-content: center;
  color: wheat;
  background-image: url("../../assets/backreglog.jpg");
  height: 100vh;

  .logIn__Heading {
    text-align: center;
    color: white;
  }
  .logIn__Container {
    font-size: large;
    flex-direction: column;
    margin-top: 10%;
    background-color: #010d1e;
    padding-inline: 4em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    border-radius: 30px;
    height: 500px;
    width: 500px;
  }
  .pwd_link {
    color: white;
    text-decoration: none;
  }
  .forgot_pwd {
    margin-bottom: 10%;
  }
  .forgot_pwd:hover {
    cursor: pointer;
  }
}
