.sidebarContainer {
  width: 300px;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  ::-webkit-scrollbar {
    display: none;
  }

  &__header {
    background-color: rgb(29, 29, 29);
    text-align: center;
    height: 70px;
    &__title {
      color: white;
      font-size: x-large;
      padding-top: 20px;
    }
  }
  &__options {
    height: 100%;
    background-color: rgb(0, 26, 54);
    color: rgb(255, 255, 255);
    &__profile {
      align-items: center;
      &__img {
        border-radius: 50px;
      }
      &__name {
        margin-top: 30px;
      }
    }
    &__navs {
      font-size: large;
      padding: 10px 0px 10px 50px;
      cursor: pointer;

      @for $i from 1 through 6 {
        &:nth-child(#{$i}):hover {
          background-color: #63717e;
        }
      }
    }
    .accordion {
      border: none;
      background-color: transparent;

      .accordion-button {
        font-size: large;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 26, 54);
        padding: 0px 0px 0px 0px;
        border: none;
        border-radius: 0;
        margin: 0;
        text-align: left;
        cursor: pointer;

        &:hover {
          background-color: #63717e;
        }
      }

      .accordion-collapse {
        background-color: rgb(0, 26, 54);

        .sidebarContainer__options__navs {
          color: rgb(255, 255, 255);
        }
        .sidebarContainer__options__navs_courses {
          cursor: pointer;
          color: rgb(255, 255, 255);
          @for $i from 1 through 6 {
            &:nth-child(#{$i}):hover {
              background-color: #63717e;
            }
          }
        }
      }
      .accordion-button::after {
        display: none;
      }
      .accordion-item:not(:last-child) {
        border-bottom: 1px solid rgb(35, 0, 63);
      }
    }
  }
}

.sidebarCollapsedContainer {
  width: 100px;
  display: flex;
  min-height: 110vh;
  flex-direction: column;
  ::-webkit-scrollbar {
    display: none;
  }

  &__header {
    background-color: rgb(29, 29, 29);
    text-align: center;
    height: 70px;
    &__title {
      color: white;
      font-size: x-large;
      padding-top: 20px;
    }
  }
  &__options {
    height: 100%;
    background-color: rgb(0, 26, 54);
    color: rgb(255, 255, 255);
    &__profile {
      align-items: center;
      &__img {
        border-radius: 50px;
      }
      &__name {
        margin-top: 30px;
      }
    }
    &__navs {
      font-size: large;
      padding: 10px 0px 10px 50px;
      cursor: pointer;

      @for $i from 1 through 6 {
        &:nth-child(#{$i}):hover {
          background-color: #63717e;
        }
      }
    }
    .accordion {
      border: none;
      background-color: transparent;

      .accordion-button {
        font-size: large;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 26, 54);
        padding: 0px 0px 0px 0px;
        border: none;
        border-radius: 0;
        margin: 0;
        text-align: left;
        cursor: pointer;

        &:hover {
          background-color: #63717e;
        }
      }

      .accordion-collapse {
        background-color: rgb(0, 26, 54);

        .sidebarContainer__options__navs {
          color: rgb(255, 255, 255);
        }
        .sidebarContainer__options__navs_courses {
          cursor: pointer;
          color: rgb(255, 255, 255);
          @for $i from 1 through 6 {
            &:nth-child(#{$i}):hover {
              background-color: #63717e;
            }
          }
        }
      }
      .accordion-button::after {
        display: none;
      }
      .accordion-item:not(:last-child) {
        border-bottom: 1px solid rgb(35, 0, 63);
      }
    }
  }
}
