.homePageContainer {
  color: black;

  &__content {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 26, 54);
    height: 700px;
    &__textLine {
      display: flex;
      flex-direction: column;
      margin-inline: 3%;
      margin-top: 10%;
      &__header {
        font-size: 3.9em;
        line-height: 1;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &__subText {
        font-size: 1.14em;
        line-height: 1.5em;
        letter-spacing: 0;
        word-wrap: break-word;
        margin-bottom: 20px;
      }
      &__startButton {
        text-align: center;
        width: 40%;
      }
    }
    &__mainPagepPic {
      width: 50%;
      margin-top: 8.5em;
      margin-right: 2%;
      margin-bottom: 7%;
      border-radius: 40px;
    }
  }
  &__courses {
    margin-top: 90px;
    text-align: center;
    &__headText {
      font-size: 35px;
      font-variant: normal;
      font-weight: 100;
      text-transform: uppercase;
    }
    &__headContainer {
      margin-top: 20px;
      padding-bottom: 100px;
      &__headlinks {
        text-decoration: none;
        padding-inline: 20px;
      }
    }
    &__cardsContainer {
      display: flex;
      flex-direction: row;
      margin-left: 2%;
      margin-top: 3%;

      &__card {
        margin: 3rem;
        width: "15rem";
      }
    }
  }
  &__experience {
    background-color: rgb(0, 26, 54);
    color: white;
    &__title {
      font-weight: 100;
      font-size: 2.875em;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
      margin: 100px auto 160px;
      transform: translateY(90px);
    }
    &__postContainer {
      color: white;
      display: flex;
      flex-direction: row;
      text-align: center;
      &__postCard {
        padding: 5em;
        &__image {
          width: 300px;
          border-radius: 300px;
          border-color: white;
          border-width: 10px;
          border-style: solid;
        }
        &__title {
          font-family: "Roboto", sans-serif;
          font-size: 29px;
          font-weight: 300;
          line-height: 1.2;
          letter-spacing: 0;
          margin: 25px 0 25px 0;
          white-space: nowrap;
        }
        &__content {
          margin-bottom: 25px;
          font-size: 1em;
          line-height: 1.714em;
        }
        &__button {
          color: #fcfcfc !important;
          background-color: #2f3739;
          border: 1px solid transparent;
          width: 150px;
          height: 40px;
          border-radius: 10px;
        }
      }
    }
    &__titleBottom {
      font-weight: 200;
      margin: 0 auto 20px;
      text-align: center;
      font-size: 2rem;
    }
    &__subTextBottom {
      font-weight: 200;
      margin: 0 auto 0px;
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 7%;
    }
  }
}
